name: Generate and Deploy AsyncAPI Docs

on:
  push:
    branches: ["master"]  # Trigger on push to main
    paths:
      - 'specs/redispatching-asyncapi.yml' # Only run if the yaml file changes
      - '.github/workflows/asyncapi-docs.yml'

# Permissions required to push the generated HTML to the gh-pages branch
permissions:
  contents: write

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Install AsyncAPI Generator
        run: npm install -g @asyncapi/generator
      
      - name: Generate HTML documentation
        run: ag specs/redispatching-asyncapi.yml @asyncapi/html-template -o docs
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs